/*!
 * for invisible components
 *
 */

.header_column1 {
    width: 20%;
}

.header_column2 {
    width: 70%;
}

.header_column3 {
    width: 10%;
}

.footer_column1 {
    width: 70%;
}

.footer_column2 {
    width: 20%;
}

.footer_column3 {
    width: 10%;
}

